{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
                <div class="error-text">{{ field.errors|join:", " }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
